/* Define standard variables and values for website */
$bgcolor: lightblue;
$textcolor: darkblue;
$fontsize: 18px;
$border: 1px solid #333;
$margin: 80px;

/* Use the variables */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
  border: $border;
  margin: $margin;
}

header {
  display: flex; /* Apply flex display directly to header */
  justify-content: center; /* Align header content to center */
}
